:root {
	/* Colours */
	--tone-0:   #fff;
	--tone-20:  #ddd;
	--tone-40:  #999;
	--tone-60:  #555;
	--tone-80:  #333;
	--tone-100: #000;
	--brand-1b: #3d9819;
	--brand-1a: #df910a;
	--brand-2b: #3a9472;
	--brand-2a: #7321b2;
	--brand-3a: #e462c2;
	--brand-3b: #dc393f;
	/* Font family */
	--font-heading:   "bernhard-gothic-urw", sans-serif;
	--font-copy:      "fira-sans", sans-serif;
	/* Font size */
	--heading-small:   1.3rem;
	--heading-medium:  1.6rem;
	--heading-large:   2rem;
	--heading-xlarge:  2.4rem;
	--heading-xxlarge: 2.8rem;
	--heading-xxxlarge: 3.8rem;
	/* Spacing */
	--spacing-tiny:    0.5rem;
	--spacing-small:   1rem;
	--spacing-medium:  2rem;
	--spacing-large:   3rem;
	/* Layout */
	--container-width: 56rem;
	--container-width-wide: 86rem;
}

*, *:before, *:after {
	box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: var(--font-copy);
	/* Tweak Font Rendering */
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	display: grid;
	height: 100vh;
	grid-template-rows: auto 1fr auto;
	line-height: 1.618;
}
h1, h2, h3 {
	font-family: var(--font-heading);
}
h1, h2 {
	font-size: var(--heading-large);
	line-height: 1.4;
}
h3 {
	font-size: var(--heading-medium);
}
h4, h5, h6 {
	font-size: var(--heading-small);
}

@media screen and (min-width:768px) {
	h1, h2 {
		font-size: var(--heading-xlarge);
		line-height: 1.3;
	}
	h3 {
		font-size: var(--heading-large);
		line-height: 1.4;
	}
	h4, h5, h6 {
		font-size: var(--heading-medium);
	}
}

a[href],
a[href]:visited {
	color: var(--brand-3a);
	font-weight: bold;
	font-family: var(--font-heading);
	text-decoration: underline;
}

a[href]:hover {
	color:  var(--brand-1a);
}

@media screen and (min-width:768px) {
	:root {
		font-size: 1.1rem;
	}
}

/* Header */
.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: var(--spacing-tiny) var(--spacing-small);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
}
@media screen and (min-width:768px) {
	.header {
		flex-direction: column;
	}
}

/* Header - logo */
.header__title {
	display: inline-block;
	width: 60px;
	height: 60px;
	margin: 0;
	background: url(static/img/logo-against-the-grain.svg);
}
@media screen and (min-width:600px) {
	.header__title {
		width: 80px;
		height: 80px;
	}
}
@media screen and (min-width:768px) {
	.header__title {
		width: 150px;
		height: 150px;
		margin: var(--spacing-tiny);
	}
}

/* Nav - Header */
.header__nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	text-transform: uppercase;
	justify-content: center;
}
.header__nav a[href] {
	display: inline-block;
	padding: var(--spacing-tiny);
	font-size: 1.2rem;
	text-decoration: none;
	-webkit-text-stroke-width: 0.05em;
	-webkit-text-stroke-color: black;
	color: var(--tone-0);
}
@media screen and (min-width:1200px) {
	.header__nav a[href] {
		font-size: var(--heading-xlarge);
		padding: var(--spacing-tiny) var(--spacing-small);
	}
}


/* Banners */
.banner {
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: flex-end;
	background-color: var(--tone-100);
	color: var(--tone-0);
	position: relative;
	padding-top: 56.25%;
	/* height: 100vh; */
}
.banner__content {
    width: 100%;
	max-width: var(--container-width);
	padding: 0 var(--spacing-medium) var(--spacing-small) var(--spacing-medium);
	z-index: 9;
}
.banner__content--wide {
	/* max-width: var(--container-width-wide); */
}
.banner__content p {
	/* font-weight: bold; */
}
@media screen and (min-width:768px) {
	.banner__content {
		padding: 0 var(--spacing-medium) var(--spacing-large) var(--spacing-medium);
	}
}
@media screen and (min-width:1200px) {
	.banner__content p {
		/* font-size: 1.1rem; */
	}
}



/* Banner - Intro */
.banner--intro {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-image: url('static/img/bg-earth-sky.jpg');
	padding-top: 56.25%;
	position: relative;
	border-bottom: solid 6em #C1E2F6;
}
.banner--intro::before,
.banner--intro__angel-barrel,
.banner--intro__angel-halo {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-position: center center;
	background-size: 100% auto;
}
.banner--intro::before {
	background-image: url('static/img/bg-clouds2x.png');
	animation: animatedBackground 50s linear infinite;
	background-repeat: repeat-x;
	background-position: center center;
	z-index: 1;
}

.banner--intro__angel-halo,
.banner--intro__angel-barrel {
	position: absolute;
	z-index: 1;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2;
}
.banner--intro__angel-halo {
	background-image: url('static/img/bg-angel-halo.png');
	animation: animatedUpDown 1.25s ease alternate infinite;
	animation-delay: 0.2s;
}
.banner--intro__angel-barrel {
	background-image: url('static/img/bg-angel-barrel.png');
	animation: animatedUpDown 1.25s ease alternate infinite;
}

@media (min-width: 768px) {
	.banner--intro__angel-halo {
		animation-duration: 1s;
	}
	.banner--intro__angel-barrel {
		animation-duration: 1s;
	}
}

@media (min-width: 1200px) {
	.banner--intro .strapline {
		font-size: var(--heading-xxxlarge);	
	}
}

.banner--intro .banner__content {
	z-index: 3;
}

/* Banner - Our Story */
.banner--our-story {
	background-position: top center;
	background-repeat: no-repeat;
	background-size: 100% auto;
}
@media (max-width: 600px) {
	.banner--our-story {
		background-image: url('static/img/against-the-grain-jono-conor-bw-600x338.jpg');
	}
}
@media (min-width: 601px) {
	.banner--our-story {
		background-image: url('static/img/against-the-grain-jono-conor-1400x788.jpg');
	}
}
@media (min-width: 1000px) {
	.banner--our-story {
		overflow: hidden;
		box-shadow: inset 0 50px 50px #000;
		padding-top: 85%;
	}
	.banner--our-story .banner__content {
		position: absolute;
		right: 0;
		bottom: 0;
		left: 50%;
		transform: translate(-50%);
	}
	.banner--our-story .banner__content::before {
		background: linear-gradient(to top, black 0%, black 50%, rgba(0,0,0,0.95) 75%, rgba(0,0,0,0.75) 100%);
		content: "";
		position: absolute;
		left: -50vw;
		right: -50vw;
		bottom: 0;
		top: calc(-1 * var(--spacing-large));
		z-index: -1;
	}
}
@media (min-width: 1200px) {
	.banner--our-story {
		background-size: 1200px auto;
		padding-top: 1001px;
	}
}

.ciders {
	display: none;
}


/* Banner - Strapline */
.banner--strapline {
	background-position: bottom center;
	background-repeat: no-repeat;
    background-size: cover;
	background-image: url('static/img/bg-sky.jpg');
	padding-top: 56.25%;
	position: relative;
}

.banner--strapline::before,
.banner--strapline::after,
.banner--strapline-landscape,
.banner--strapline-barrel {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-position: bottom center;
    background-size: cover;
}
.banner--strapline::before,
.banner--strapline::after {
	animation: animatedBackground 40s linear infinite reverse;
	background-repeat: repeat-x;
	background-position: top center;
	z-index: 1;
}
.banner--strapline::before {
	background-image: url('static/img/bg-clouds2x2.png');
}
.banner--strapline::after {
	background-image: url('static/img/bg-clouds2x3.png');
	animation-duration: 70s;
}
.banner--strapline-landscape {
	background-image: url('static/img/bg-landscape.png');
	animation: animatedBackground 10s linear infinite reverse;
	z-index: 2;
}
.banner--strapline-barrel {
	background-image: url('static/img/bg-barrel.png');
	animation: animatedUpDown 1s ease alternate infinite;
	z-index: 3;
}
@media (min-width: 768px) {
	.banner--strapline-barrel {
		animation-duration: 0.75s;
	}
	.banner--strapline .strapline br {
		/* display: none; */
	}
}


/* Shared - Accessibility */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

/* Shared - Animations */
@keyframes animatedBackground {
	0% { background-position: 0 0; }
	100% { background-position: 100vw 0; }
}
@keyframes animatedUpDown {
	0% { margin-top: 0; }
	100% { margin-top: -1.5vw; }
}

/* Shared - Stroked text */
.stroked {
	/* text-shadow: rgba(0,0,0,0.5) 1px 0.05em; */
	-webkit-text-stroke-width: 0.05em;
	-webkit-text-stroke-color: black;
}

/* Shared - Strapline */
.strapline {
	font-size: var(--heading-medium);
	margin: 0;
	line-height: 1.1;
}
@media screen and (min-width:600px) {
	.strapline {
		font-size: var(--heading-large);
	}
}
@media screen and (min-width:768px) {
	.strapline {
		font-size: var(--heading-xlarge);
	}
}
@media screen and (min-width:1200px) {
	.strapline {
		letter-spacing: -0.01em;
		font-size: var(--heading-xxlarge);
	}
}
@media screen and (min-width:1400px) {
	.strapline {
		font-size: var(--heading-xxxlarge);
	}
}


/* Footer */
.footer {
	font-size: 1.1rem;
	box-shadow: 0 0px 3px #000;
	position: relative;
	z-index: 11;
}
.footer__title {
	margin: 0;
}
.footer__contact {
	padding: var(--spacing-medium) var(--spacing-small);
}
.footer__links {
	padding: var(--spacing-medium) var(--spacing-small);
}
.footer__copyright {
	padding: var(--spacing-small);
	margin: 0;
	text-align: center;
	background-color: var(--brand-3a);
	font-size: 0.9rem;
	font-weight: bold;
	box-shadow: inset 0 1px 2px #000;
}

@media screen and (min-width:768px) {
	.footer {
		display: flex;
		flex-wrap: wrap;
	}
	.footer__contact {
		flex: 6 0 0;
		padding: var(--spacing-medium);
	}
	.footer__links {
		flex: 2 0 0;
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
		padding: var(--spacing-medium);
	}
	.footer__copyright {
		flex: none;
		width: 100%;
	}
}

/* Nav - Footer */
.social-links ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
.social-links li {
	display: inline-block;
	margin-right: var(--spacing-small);
}
.social-links a {
	display: inline-block;
	width: var(--spacing-medium);
	height: var(--spacing-medium);
	width: 3.5rem;
	height: 3.5rem;
	background-size: 100% 100%;
}
.social-links a[href*="facebook"] {
	background-image: url(static/img/icon-facebook.svg);
}
.social-links a[href*="twitter"] {
	background-image: url(static/img/icon-twitter.svg);
}
.social-links a[href*="instagram"] {
	background-image: url(static/img/icon-instagram.svg);
}