:root {
	/* Colours */
	--tone-0:   #fff;
	--tone-20:  #ddd;
	--tone-40:  #999;
	--tone-60:  #555;
	--tone-80:  #333;
	--tone-100: #000;
	--brand-1b: #3d9819;
	--brand-1a: #df910a;
	--brand-2b: #3a9472;
	--brand-2a: #7321b2;
	--brand-3a: #FBBF05;
	--brand-3b: #dc393f;
	/* Font family */
	--font-heading:   "Staatliches", sans-serif;
	--font-copy:      "Quicksand", sans-serif;
	/* Font size */
	--heading-small:   1.3rem;
	--heading-medium:  1.6rem;
	--heading-large:   2.2rem;
	--heading-xlarge:  2.6rem;
	--heading-xxlarge: 3rem;
	--heading-xxxlarge: 4rem;
	/* Spacing */
	--spacing-tiny:    0.5rem;
	--spacing-small:   1rem;
	--spacing-medium:  2rem;
	--spacing-large:   3rem;
	/* Layout */
	--container-width: 56rem;
	--container-width-wide: 90rem;
}

*, *:before, *:after {
	box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: var(--font-copy);
	/* Tweak Font Rendering */
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	display: grid;
	height: 100vh;
	grid-template-rows: auto 1fr auto;
	line-height: 1.618;
}

html {
	scroll-behavior: smooth;
}
h1, h2, h3 {
	font-family: var(--font-heading);
	font-weight: normal;
}
h1, h2 {
	font-size: var(--heading-large);
	line-height: 1.4;
}
h3 {
	font-size: var(--heading-medium);
}
h4, h5, h6 {
	font-size: var(--heading-small);
}

@media screen and (min-width:768px) {
	h1, h2 {
		font-size: var(--heading-xlarge);
		line-height: 1.3;
	}
	h3 {
		font-size: var(--heading-large);
		line-height: 1.4;
	}
	h4, h5, h6 {
		font-size: var(--heading-medium);
	}
}

a[href],
a[href]:visited {
	color: var(--brand-3a);
	/* font-weight: bold; */
	/* font-family: var(--font-heading); */
	text-decoration: underline;
}

a[href]:hover {
	color:  var(--brand-1a);
}

@media screen and (min-width:768px) {
	:root {
		font-size: 1.1rem;
	}
}

/* Header */
.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: var(--spacing-tiny) var(--spacing-small);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	max-width: var(--container-width);
    margin: 0 auto;
}
@media screen and (min-width:768px) {
	.header {
		justify-content: center;
		/* left: 50%;
		transform: translateX(-50%); */
		/* flex-direction: column; */
	}
	.header__nav {
		margin-left: var(--spacing-medium);
	}
}

/* Header - logo */
.header__title {
	display: inline-block;
	width: 90px;
	height: 90px;
	margin: 0;
	background: url(static/img/logo-against-the-grain.svg) no-repeat;
}
@media screen and (min-width:600px) {
	.header__title {
		width: 120px;
		height: 120px;
	}
}
@media screen and (min-width:768px) {
	.header__title {
		width: 200px;
		height: 200px;
		margin: var(--spacing-tiny);
	}
}

/* Nav - Header */
.header__nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	text-transform: uppercase;
	justify-content: center;
}
.header__nav a[href] {
	display: inline-block;
	padding: var(--spacing-tiny);
	font-size: 1.35rem;
	text-decoration: none;
	-webkit-text-stroke-width: 0.04em;
	-webkit-text-stroke-color: black;
	color: var(--tone-0);
	font-family: var(--font-heading);
	font-weight: normal;
}
@media screen and (min-width:600px) {
	.header__nav a[href] {
		font-size: var(--heading-large);
		padding: var(--spacing-tiny) var(--spacing-small);
	}
}
@media screen and (min-width:1200px) {
	.header__nav a[href] {
		font-size: var(--heading-xlarge);
	}
}


/* Banners */
.banner {
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: flex-end;
	background-color: var(--tone-100);
	color: var(--tone-0);
	position: relative;
	padding-top: 56.25%;
	/* height: 100vh; */
	overflow-x: hidden;
}
.banner__content {
    width: 100%;
	padding: 0 var(--spacing-medium) var(--spacing-small) var(--spacing-medium);
	z-index: 9;
}
.banner__content--fixed {
	max-width: var(--container-width);
}
@media screen and (min-width:768px) {
	.banner__content {
		padding: 0 var(--spacing-medium) var(--spacing-large) var(--spacing-medium);
	}
}


/* Banner - Intro */
.banner--intro {
	background-position: bottom center;
	background-repeat: no-repeat;
    background-size: cover;
	background-image: url('static/img/bg-sky.jpg');
	padding-top: 56.25%;
	position: relative;
	min-height: 60vh;
}

.banner--intro__landscape,
.banner--intro__clouds--1,
.banner--intro__clouds--2 {
	width: 200%;
	position:absolute;
	top: 0;
	bottom: 0;
	left: 0;
	background-repeat: repeat-x;
	background-position: bottom left;
	background-size: 100% auto;
}
.banner--intro__landscape {
	animation: bg-anim 20s linear infinite;
}
.banner--intro__clouds--1 {
	background-image: url(static/img/bg-clouds2x2.png);
	animation: bg-anim 30s linear infinite;
}
.banner--intro__clouds--2 {
	background-image: url(static/img/bg-clouds2x3.png);
	animation: bg-anim 40s linear infinite;
}
@media (max-width: 600px) {
	.banner--intro__landscape {
		background-image: url(static/img/bg-landscape-600x338.png);
	}
}
@media (min-width: 601px) {
	.banner--intro__landscape {
		background-image: url(static/img/bg-landscape-1400x788.png);
	}
}
@media (min-width: 1201px) {
	.banner--intro__landscape {
		background-image: url(static/img/bg-landscape-2400x1350.png);
	}
}

.banner--intro__barrel {
	position: absolute;
	top: 15%;
	right: 0;
	bottom: 0;
	left: 0;
	background-position: center center;
    background-size: 150% auto;
    background-repeat: no-repeat;
	background-image: url('static/img/bg-barrel.png');
	animation: animatedUpDown 1s ease alternate infinite;
	z-index: 3;
}
.banner--intro .banner__content {
	position: absolute;
	bottom: 4em;
}
@media (min-width: 768px) {
	.banner--intro__barrel {
		animation-duration: 0.75s;
		background-size: auto 100%;
	}
}


/* Banner - Our Story */
.banner--our-story {
	background-position: top center;
	background-repeat: no-repeat;
	background-size: 100% auto;
}
.banner--our-story .banner__content {
	max-width: var(--container-width);
}
.banner--our-story .banner__content p {
	font-weight: bold;
}
@media (max-width: 600px) {
	.banner--our-story {
		background-image: url('static/img/against-the-grain-jono-conor-bw-600x338.jpg');
	}
}
@media (min-width: 601px) {
	.banner--our-story {
		background-image: url('static/img/against-the-grain-jono-conor-bw-1400x788.jpg');
	}
}
/* @media (min-width: 1000px) {
	.banner--our-story {
		overflow: hidden;
		box-shadow: inset 0 50px 50px #000;
		padding-top: 85%;
	}
	.banner--our-story .banner__content {
		position: absolute;
		right: 0;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
	}
	.banner--our-story .banner__content::before {
		background: linear-gradient(to top, black 0%, black 50%, rgba(0,0,0,0.95) 75%, rgba(0,0,0,0.75) 100%);
		content: "";
		position: absolute;
		left: -50vw;
		right: -50vw;
		bottom: 0;
		top: calc(-1 * var(--spacing-large));
		z-index: -1;
	}
} */
@media (min-width: 1200px) {
	/*.banner--our-story {
		background-size: 1200px auto;
		padding-top: 1001px;
	}*/
	.banner--our-story .banner__content p {
		font-size: 1.1rem;
	}
}


/* Ciders */
.ciders {
    position: relative;
    z-index: 1;
	margin-top: -6rem;
}
.ciders__list {
	list-style: none;
	padding: 0 var(--spacing-medium) var(--spacing-large) var(--spacing-medium);
	margin: 6rem auto 0 auto;
	max-width: var(--container-width-wide);
	text-align: center;
	display: flex;
    align-items: center;
	flex-direction: column;
	z-index: 1;
}
.ciders__list:before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
    box-shadow: 0 3px 8px #000;
}
.ciders__list li {
	max-width: 80vw;
	width: 400px;
	margin-bottom: 4em;
}
.ciders__list li:first-child {
	position: relative;
	top: -4rem;
	margin-bottom: 0;
}
.ciders__list-image {
	border-radius: 50%;
	display: block;
	overflow: hidden;
	box-shadow: 0 -1px 3px 1px #888;
	max-width: 250px;
	margin-left: auto;
	margin-right: auto;
}
.ciders__list-image img {
	display: block;
	width: 100%;
	height: auto;
}
@media (min-width: 600px) {
	.ciders__list-image {
		max-width: none;
	}
}
@media (min-width: 900px) {
	.ciders__list	 {
		flex-direction: row;
		align-items: flex-start;
		justify-content: space-between;
	}
	.ciders__list li {
		width: 30%;
		position: relative;
		top: -4rem;
		margin-bottom: -4rem;
		padding: 0;
		max-width: 480px;
	}
	.ciders__list-product--laid-back-lumberjack {
		order: 2;
	}
	.ciders__list-product--gypsys-kiss {
		order: 1;
	}
	.ciders__list-product--hippie-tripper {
		order: 3;
	}
}
.ciders__list-title,
.ciders__list-subtitle,
.ciders__list li > p:last-child {
	margin: 0;
}
.ciders__list-title,
.ciders__list-subtitle {
	transform: rotate(-5deg);
}
.ciders__list-title {
	margin-top: var(--spacing-small);
	text-transform: uppercase;
	font-size: var(--heading-xlarge);
	line-height: 1;
}
.ciders__list li > p {
	/* margin: var(--spacing-small) 0 var(--spacing-tiny) 0; */
	padding-left: var(--spacing-small);
	padding-right: var(--spacing-small);
}
.ciders__list-product .ciders__list-subtitle,
.ciders__description strong {
	text-shadow: 1px 1px #000;
}
.ciders__list-product .ciders__list-subtitle {
	font-size: var(--heading-medium);
	margin-top: var(--spacing-tiny);
	line-height: 1.2;
}
.ciders__list-subtitle + .ciders__list-subtitle {
	font-size: 1.2rem;
	transform: none;
}
.ciders__description strong {
	text-transform: uppercase;
	font-size: 1.1rem;
}
.ciders__list li > p:last-child {
	margin-top: auto;
}

.ciders__list-product--laid-back-lumberjack .ciders__list-title,
.ciders__list-product--laid-back-lumberjack .ciders__list-subtitle,
.ciders__list-product--laid-back-lumberjack .ciders__description strong {
	color: var(--brand-1a);
}
.ciders__list-product--gypsys-kiss .ciders__list-title,
.ciders__list-product--gypsys-kiss .ciders__list-subtitle,
.ciders__list-product--gypsys-kiss .ciders__description strong {
	color: var(--brand-2a);
}
.ciders__list-product--hippie-tripper .ciders__list-title,
.ciders__list-product--hippie-tripper .ciders__list-subtitle,
.ciders__list-product--hippie-tripper .ciders__description strong {
	color: var(--brand-3a);
}
.ciders__description:before {
	content: "";
	display: block;
	border: solid;
	width: 10rem;
	margin: var(--heading-small);
	margin-left: auto;
	margin-right: auto;
}
.ciders__list-product--laid-back-lumberjack .ciders__description:before {
	border-color: var(--brand-1a);
}
.ciders__list-product--gypsys-kiss .ciders__description:before {
	border-color: var(--brand-2a);
}
.ciders__list-product--hippie-tripper .ciders__description:before {
	border-color: var(--brand-3a);
}
@media (min-width: 768px) {
	.ciders__list-title {
		font-size: var(--heading-large);
	}
}
@media (min-width: 1200px) {
	.ciders__list-title {
		font-size: var(--heading-xxlarge);
	}
}
@media (min-width: 900px) {
	.ciders__list-title {
		font-size: var(--heading-xlarge);
	}
}
@media (min-width: 1200px) {
	.ciders__list-title {
		font-size: var(--heading-xxlarge);
	}
}

.ciders__list-product--laid-back-lumberjack .ciders__list-image  {
	background: linear-gradient(to top right, var(--brand-1a), var(--brand-1a) 50%, var(--brand-1b) 100%);
}
.ciders__list-product--gypsys-kiss .ciders__list-image  {
	background: linear-gradient(to top right, var(--brand-2a), var(--brand-2a) 30%, var(--brand-2b) 100%);
}
.ciders__list-product--hippie-tripper .ciders__list-image  {
	background: linear-gradient(to top right, var(--brand-3a), var(--brand-3a) 30%, var(--brand-3b) 100%);
}

/* Banner - Strapline */
.banner--strapline {
	background-position: center center;
	background-repeat: no-repeat;
    background-size: cover;
	padding-top: 56.25%;
	position: relative;
}
.banner--strapline .banner__content {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}
@media (max-width: 600px) {
	.banner--strapline {
		background-image: url('static/img/against-the-grain-pint-pour-600x338.jpg');
	}
}
@media (min-width: 601px) {
	.banner--strapline {
		background-image: url('static/img/against-the-grain-pint-pour-1400x788.jpg');
	}
}
@media (min-width: 1201px) {
	.banner--strapline {
		background-image: url('static/img/against-the-grain-pint-pour-2400x1350.jpg');
	}
}



/* Shared - Accessibility */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

/* Shared - Animations */
@-webkit-keyframes bg-anim {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
}
@keyframes animatedUpDown {
	0% { transform: translateY(0); }
	100% { transform: translateY(-2.25vh); }
}

/* Shared - Stroked text */
.stroked {
	/* text-shadow: rgba(0,0,0,0.5) 1px 0.05em; */
	-webkit-text-stroke-width: 0.04em;
	-webkit-text-stroke-color: black;
}

/* Shared - Strapline */
.strapline {
    font-size: 8vw;
}
@media screen and (min-width:6480px) {
	.strapline {
		font-size: var(--heading-large);
	}
}
@media screen and (min-width:600px) {
	.strapline {
		font-size: var(--heading-xlarge);
	}
}
@media screen and (min-width:768px) {
	.strapline {
		font-size: var(--heading-xxlarge);
	}
}
@media screen and (min-width:1200px) {
	.strapline {
		letter-spacing: -0.01em;
		font-size: var(--heading-xxxlarge);
	}
}


/* Footer */
.footer {
	box-shadow: 0 0px 3px #000;
	position: relative;
	z-index: 11;
}
.footer a[href],
.footer a[href]:visited {
	color: var(--tone-100);
}
.footer__title {
	margin: 0;
}
.footer__contact {
	padding: var(--spacing-medium) var(--spacing-small);
	/* color: var(--tone-80); */
}
.footer__links {
	padding: var(--spacing-medium) var(--spacing-small);
}
.footer__copyright {
	padding: var(--spacing-small);
	margin: 0;
	text-align: center;
	background-color: var(--tone-100);
	color: var(--tone-0);
	font-size: 0.9rem;
	font-weight: bold;
	box-shadow: inset 0 1px 2px #000;
}

@media screen and (min-width:768px) {
	.footer {
		font-size: 1.1rem;
		display: flex;
		flex-wrap: wrap;
	}
	.footer__contact {
		flex: 6 0 0;
		padding: var(--spacing-medium);
	}
	.footer__links {
		flex: 4	 0 0;
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
		padding: var(--spacing-medium);
	}
	.footer__copyright {
		flex: none;
		width: 100%;
	}
}

/* Nav - Footer */
.social-links ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
.social-links li {
	display: inline-block;
	margin-right: var(--spacing-small);
}
.social-links a {
	display: inline-block;
	width: var(--spacing-medium);
	height: var(--spacing-medium);
	width: 3.5rem;
	height: 3.5rem;
	background-size: 100% 100%;
}
.social-links a[href*="facebook"] {
	background-image: url(static/img/icon-facebook.svg);
}
.social-links a[href*="twitter"] {
	background-image: url(static/img/icon-twitter.svg);
}
.social-links a[href*="instagram"] {
	background-image: url(static/img/icon-instagram.svg);
}