:root {
	/* Colours */
	--tone-0:   #fff;
	--tone-20:  #ddd;
	--tone-40:  #999;
	--tone-60:  #555;
	--tone-80:  #333;
	--tone-100: #000;
	--brand-1:  blue;
	--brand-2:  green;
	/* Font size */
	--heading-small:   1.3rem;
	--heading-medium:  1.6rem;
	--heading-large:   2rem;
	--heading-xlarge:  2.4rem;
	--heading-xxlarge: 2.8rem;
	/* Spacing */
	--spacing-tiny:    0.5rem;
	--spacing-small:   1rem;
	--spacing-medium:  2rem;
	--spacing-large:   3rem;
	/* Layout */
	--container-width: 64rem;
	--container-width-wide: 80rem;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: "Avenir", "Avenir Next", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
	/* Tweak Font Rendering */
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	display: grid;
	height: 100vh;
	grid-template-rows: auto 1fr auto;
	line-height: 1.618;
}

h1, h2 {
	font-size: var(--heading-large);
	line-height: 1.4;
}
h3 {
	font-size: var(--heading-medium);
}
h4, h5, h6 {
	font-size: var(--heading-small);
}

@media screen and (min-width:768px) {
	h1, h2 {
		font-size: var(--heading-xlarge);
		line-height: 1.3;
	}
	h3 {
		font-size: var(--heading-large);
		line-height: 1.4;
	}
	h4, h5, h6 {
		font-size: var(--heading-medium);
	}
}

a[href],
a[href]:visited {
	color: var(--brand-1);
}

a[href]:not(:hover) {
	text-decoration: none;
}

@media screen and (min-width:768px) {
	:root {
		font-size: 1.1rem;
	}
}

/* Nav */
.social-links ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
.social-links li {
	display: inline-block;
	margin-right: var(--spacing-tiny);
}
.social-links li:last-child {
	margin-right: 0;
}
.social-links a {
	display: inline-block;
	width: var(--spacing-medium);
	height: var(--spacing-medium);
	width: 40px;
	height: 40px;
	background-size: 100% 100%;
}
.social-links a[href*="facebook"] {
	background-image: url(static/img/icon-facebook.svg);
}
.social-links a[href*="twitter"] {
	background-image: url(static/img/icon-twitter.svg);
}
.social-links a[href*="instagram"] {
	background-image: url(static/img/icon-instagram.svg);
}


/* Banners */
.banner {
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: flex-end;
	max-height: 100vh;
	background-color: var(--tone-80);
	color: var(--tone-0);
	overflow: hidden;
}
.banner__content {
	max-width: var(--container-width);
	padding: var(--spacing-large) var(--spacing-small);
}
.banner__content p {
	font-weight: bold;
}
@media screen and (min-width:1200px) {
	.banner__content p {
		font-size: 1.1rem;
	}
}

/* Banner - Our Story */
.banner--our-story {
	background-position: top center;
	background-size: cover;
	padding-top: 56.25%;
}
.banner--our-story .banner__content {
	position: relative;
	z-index: 1;
}
.banner--our-story .banner__content::before {
	background: linear-gradient(to top, rgba(0,0,0,0.95) 0%, rgba(0,0,0,0.90) 50%, rgba(0,0,0,0.75) 80%, transparent 100%);
	content: "";
	position: absolute;
	left: -50vw;
	right: -50vw;
	bottom: 0;
	top: -2em;
	z-index: -1;
}

@media (max-width: 600px) {
	.banner--our-story {      
		background-image: url('static/img/against-the-grain-jono-conor-600x338.jpg');
	}
}
@media (min-width: 601px) and (max-width: 1200px) {
	.banner--our-story {
		background-image: url('static/img/against-the-grain-jono-conor-1200x765.jpg');
	}
}
@media (min-width: 1201px) {
	.banner--our-story {
		background-image: url('static/img/against-the-grain-jono-conor-2400x1350.jpg');
	}
}

/* Banner - Strapline */
.banner--strapline {
	background-position: bottom center;
	background-size: cover;
	background-color: var(--tone-60);
	padding-top: 56.25%;
}

@media (max-width: 600px) {
	.banner--strapline {      
		background-image: url('static/img/flying-barrel-against-the-grain.png');
	}
}
@media (min-width: 601px) and (max-width: 1200px) {
	.banner--strapline {
		background-image: url('static/img/flying-barrel-against-the-grain.png');
	}
}
@media (min-width: 1201px) {
	.banner--strapline {
		background-image: url('static/img/flying-barrel-against-the-grain.png');
	}
}

/* Footer */
.footer {
	font-size: 1.1rem;
}

.footer__contact {
	padding: var(--spacing-small);
}

.footer__links {
	padding: var(--spacing-small);
}

.footer__copyright {
	padding: var(--spacing-small);
	margin: 0;
	text-align: center;
	background-color: var(--tone-20);
	font-size: 0.9rem;
}

@media screen and (min-width:768px) {
	.footer {
		display: flex;
		flex-wrap: wrap;
	}

	.footer__contact {
		flex: 6 0 0;
	}
	
	.footer__links {
		flex: 2 0 0;
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
	}
	
	.footer__copyright {
		flex: 1 1 1;
		width: 100%;
	}
}

/* Shared */
.strapline {
	font-size: var(--heading-medium);
}

@media screen and (min-width:768px) {
	.strapline {
		font-size: var(--heading-large);
	}
}

@media screen and (min-width:1200px) {
	.strapline {
		letter-spacing: -0.01em;
		font-size: var(--heading-xxlarge);
	}
}

.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}